<div class="container ciclo" >
    <div class="row">
      <div class="col">
        <label for="ciclo" class="label btn btn-primary">Seleccionar Ciclo:</label> <br>
        <select id="ciclo" class="form-select li">
          <option value="">Todos</option>
          <option value="1">ciclo 1</option>
          <option value="2">ciclo 2</option>
          <option value="3">ciclo 3</option>
        </select>
      </div>
    </div>
  </div>     