<div class="container " >
    <div class="row">
      <div class="col">
        <label for="year" class="label btn btn-primary">Seleccionar año:</label> <br>
        <select id="year" class="form-select li">
          <option value="">Todos</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <!-- Agrega más opciones para años adicionales si es necesario -->
        </select>
      </div>
    </div>
  </div>      