<header class="header">
    <nav>
        <ul class='nav-bar'>
            <li class='logo'><a href='#' ><img src="https://mci12.com/wp-content/uploads/2019/08/mci-logo-w.png" alt=""><span class="PEPI"> MCI Software </span><i class="bi pipi bi-gear"></i></a></li>
            <input type='checkbox' id='check' />
            <a href="/"><button class="button" id="lu">INICIO</button></a>
            <span class="menu">
  
                <span class="laa"><li><a href="/"><strong>Inicio</strong></a></li></span>
                <li><a href="/UDVindexJ">UDV inscritos J</a></li>
                <li><a href="/UDVinformeJ">UDV informe J</a></li>
                  <li ><a href="/UDVasistenciaJ"><span class="lili"> UDV Asistencia J</span></a></li>
                  <a href="logout" class="topo"><li><i class="bi salir bi-box-arrow-left"></i></li></a>
            
                <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
            </span>
            <label for="check" class="open-menu "><i class="bi lol bi-list"></i></label>
           
        </ul>
       
    </nav>
  </header>