<div class="container" id="filterByLeader12">
    <div class="row">
        <div class="col">
            <label for="leader12" class="label btn btn-primary">Seleccionar líder°12:</label> <br>
            <select id="leader12" class="form-select li">
                <option value="">Todos</option>
                <option value="JOSE Y LOREINY">JOSE Y LOREINY</option>
                <option value="CARLOS Y ANDREA">CARLOS Y ANDREA</option>
                <option value="DIEGO Y ANA">DIEGO Y ANA</option>
                <option value="CARLOS Y DIANA">CARLOS Y DIANA</option>
                <option value="CAROLINA YEPES">CAROLINA YEPES</option>
                <option value="OSCAR Y ANGELA">OSCAR Y ANGELA</option>
                <option value="EQUIPO 2">EQUIPO 2</option>
                <option value="SERGIO CALDERON">SERGIO CALDERON</option>
                <option value="JULIO Y CHRISTIE">JULIO Y CHRISTIE</option>
                <option value="WILMER PINZON">WILMER PINZON</option>
                <option value="VERONICA HURTADO">VERONICA HURTADO</option>
                <option value="LEIDY PORRAS">LEIDY PORRAS</option>
                <option value="GABRIEL CASTELLANOS">GABRIEL CASTELLANOS</option>
            </select>
        </div>
    </div>
</div>