<div class="container" id="filterByLeader12">
    <div class="row">
        <div class="col">
            <label for="leader12" class="label btn btn-primary">Seleccionar líder°12:</label> <br>
            <select id="leader12" class="form-select li">
                <option value="">Todos</option>
                            <option value="P. LUZ ALEXANDRA SUAREZ">P. LUZ ALEXANDRA SUAREZ</option>
                            <option value="P. NELLY VARGAS">P. NELLY VARGAS</option>
                            <option value="P. LILIANA TORRES">P. LILIANA TORRES</option>
                            <option value="P. EISADID ORTIZ">P. EISADID ORTIZ</option>
                            <option value="P. CLARA ESTEPA">P. CLARA ESTEPA</option>
                            <option value="P. DIANA ORDOÑES">P. DIANA ORDOÑES</option>
                            <option value="JULIANA MARTINEZ">JULIANA MARTINEZ</option>
                            <option value="BIBIANA PADILLA">BIBIANA PADILLA</option>
                            <option value="MARTHA PEÑA">MARTHA PEÑA</option>
                            <option value="LIZ ADRIANA ROMERO">LIZ ADRIANA ROMERO</option>
                            <option value="ANAYIBE GRANADOS">ANAYIBE GRANADOS</option>
                            <option value="EQUIPO ALTERNO">EQUIPO ALTERNO</option>
            </select>
        </div>
    </div>
</div>