<div class="container" id="filterByLeader12">
    <div class="row">
        <div class="col">
            <label for="leader12" class="label btn btn-primary">Seleccionar líder°12:</label> <br>
            <select id="leader12" class="form-select li">
                <option value="">Todos</option>
                <option value="LUIS FRANCISCO">LUIS FRANCISCO BASTO</option>
                <option value="PS. WILSON RUIZ">PS. WILSON RUIZ</option>
                <option value="PS. JHON SERANO">PS. JHON SERANO</option>
                <option value="SERGIO MANTILLA">SERGIO MANTILLA</option>
                <option value="P. CARLOS ESTEPA">P. CARLOS ESTEPA</option>
                <option value="P. OSCAR HOMERO SERRANO">P. OSCAR HOMERO SERRANO</option>
                <option value="EDSON VEGA">EDSON VEGA</option>
                <option value="P. MANUEL CABARCAS">P. MANUEL CABARCAS</option>
                <option value="SATURIO SOLANO">SATURIO SOLANO</option>
                <option value="P. JAEL HOYOS">P. JAEL HOYOS</option>
                <option value="MARCELINO CELI">MARCELINO CELI</option>
                <option value="GRUPO ALTERNO">GRUPO ALTERNO</option>
            </select>
        </div>
    </div>
</div>
