<!DOCTYPE html>
<html>
<head>
  <title>Acceso Denegado</title>
  <link rel="icon" href="https://mci12.com/wp-content/uploads/2019/08/mci-logo.png" type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .access-denied {
      text-align: center;
    }

    .access-denied h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    .access-denied p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    /* Media Query para pantallas de tamaño pequeño (móviles) */
    @media (max-width: 576px) {
      .access-denied h1 {
        font-size: 2.5rem; /* Cambiar el tamaño del título en dispositivos móviles */
      }

      .access-denied p {
        font-size: 1.2rem; /* Cambiar el tamaño del texto en dispositivos móviles */
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="access-denied">
      <h1>Acceso Denegado</h1>
      <p>No tienes permiso para acceder a esta página.</p>
      <a href="login" class="btn btn-primary">Ir al Login</a>
    </div>
  </div>
  <script>
    // Función para redireccionar a la página de login después de 3 segundos
    function redirectToLogin() {
      setTimeout(function() {
        window.location.href = "login";
      }, 1000); // 2000 milisegundos (1 segundos)
    }

    // Llamar a la función cuando la página esté completamente cargada
    document.addEventListener("DOMContentLoaded", redirectToLogin);
  </script>
</body>
</html>
</body>
</html>
