<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Bienvenido(a)</title>
   <link rel="icon" href="https://mci12.com/wp-content/uploads/2019/08/mci-logo.png" type="image/png">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <style>
    body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .jumbotron {
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
 }

 .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
 }
   </style>
</head>
<body>
   <div class="container">
      <div class="jumbotron mt-5">
         <h1>¡Bienvenid@!</h1>
         <p class="lead">Gracias por unirte a nuestro sitio web.</p>
         <hr class="my-4">
         <p>Para comenzar, por favor inicia sesión:</p>
         <a class="btn btn-primary btn-lg" href="login" role="button">Iniciar sesión</a>
      </div>
   </div>
</body>
</html>
